/* stylelint-disable declaration-colon-space-after */
:root {
  /* colors */
  --color-text: var(--gray_darker);
  --color-bg:   var(--gray_lightest);

  /* text */
  --font-size-base:   14px;
  --line-height-base: 1.8;

  /* spacing */
  --spacing: 8px;
}
/* stylelint-enable */
