<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag webpack_asset_url('index'), media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag webpack_asset_url('index') %>
  </body>
</html>
